.carousel-itemm-first-one {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: -50px !important; /* Adjusted to move content up */
    margin-bottom: 30px !important;
}

.carousel-caption {
    text-align: center;
    background-color: white;
}

.carousel-indicators button {
    background-color: gray;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}

.carousel-control-prev-icon {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: -30px;
    transform: rotate(135deg);
    margin-left: 30px !important;
}

.carousel-control-next-icon {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: -30px;
    transform: rotate(-45deg);
    margin-right: 30px !important;
}

.carousel-inner {
    width: 100%;
    height: 100%;
    background-color: white;
}

.carousel-title {
    color: #414146;
    font-family: Lato, Helvetica, Arial, sans-serif !important;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 60px !important; /* Adjusted to move content up */
    margin-bottom: 30px !important;
}

.para {
    color: #000;
    font-size: 20px;
    margin-top: -10px !important;
}

.u-d__inline-block {
    display: inline-block;
}

.u-t-left {
    text-align: left;
}

.u-v-middle {
    vertical-align: middle;
}

.u-margin--10__left {
    margin-left: 10px;
}

.user-name {
    display: inline-block;
    margin-left: 8px;
    color: #000;
}

.user-icon {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.carousel-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
