body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar-container {
  
  z-index: 1000;
  width: 100% !important;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width */
}

.navbar {
  background-color: #ffffff;
  color: rgb(12, 12, 12);
  padding: 20px 45px !important;
  width: 100%;
  box-sizing: border-box; /* Ensures padding is included in the element's total width */
  top: 0;
  left: 0;
 
}
.sectionn-divider {
  width: 100%;
 
  border: none;
  border-top: 1.5px solid #aca3a3;
  margin-bottom: 10px !important;
  }
  

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure the nav-container takes full width */
  margin-top: 3px !important;
}

.navbar-new-logo {
  margin-right: 40px;
}

.navbar-new-logo img {
  height: 25px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links.left {
  margin-right: auto;
  
}


.nav-links.right {
  margin-left: auto;
}

.nav-links li {
  margin-right: 20px;
  position: relative;
}

.nav-links a {
  color: rgb(12, 12, 12);
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer; /* Ensure cursor changes on clickable links */
}

.nav-links.left a {
  color: #2d2d32;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.3px;
  
}

.nav-links.right a {
  color: rgb(68, 67, 67);
  font-weight: 400;
    font-size: 14px;
    line-height: 19px;
   
    
}

.nav-links.right li:not(.auth-link) > a::after {
  content: ' ▼';
  font-size: 0.8em;
  margin-left: 5px;
}

.nav-links a:hover {
  color: #ddd;
}

.auth-link a {
  background-color: white;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #040404;
}

.auth-link a:hover {
  background-color: #0056b3;
}
.dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 5px); /* Adjust as needed */
  left: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  list-style: none;
  z-index: 1000;
}

.nav-links li {
  position: relative; /* Ensure relative positioning for dropdown */
}

.nav-links li:hover .dropdown {
  display: block;
}


.dropdown li {
  padding: 10px 20px;
}

.dropdown li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.dropdown li a:hover {
  color: #555;
}




/* Dropdown styles */

/* Ensure dropdown remains visible when the dropdown toggle is clicked */
.dropdownplz-menu {
  display: none; /* Hide dropdown menu by default */
  position: absolute; /* Position absolute for dropdown positioning */
  background-color: #fff; /* Background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
  padding: 10px 0; /* Padding around dropdown items */
  list-style: none; /* Remove default list styles */
  z-index: 1000; /* Ensure dropdown is on top */
  width: 200px; /* Fixed width of the dropdown menu */
  left: 0; /* Align dropdown with parent */
  top: calc(100% + 5px); /* Position below the parent */
}

.dropdownplz-menu.show {
  display: block; /* Show dropdown menu when dropdownOpen state is true */
}

.dropdownplz-menu a {
  color: #333; /* Link color */
  text-decoration: none; /* Remove underline */
  display: block; /* Block display for full-width links */
  padding: 10px 20px; /* Padding around each link */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.dropdownplz-menu a:hover {
  background-color: #f1f1f1; /* Background color on hover */
}
.new-badge {
  background-color: #28328c; /* Red background color */
  color: #fff; /* White text color */
  font-size: 8px; /* Adjust font size */
   /* Bold text */
  border-radius: 12px; /* Rounded corners */
  padding: 2px 6px; /* Padding for the badge */
  margin-right: 3px; /* Space between badge and text */

}



/* Responsivne */
@media (max-width:500px){
  .navbar-new-logo{
    margin-left: -200px ;
  }
  .nav-container-med {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150%;
    margin-top: 3px !important;
    margin-left: -50px !important;
}
.med-menu-icon{
  margin-left: 100px;
}
}
@media (min-width: 501px) and (max-width: 550px){
  .navbar-new-logo{
    margin-left: -250px ;
  }
  .nav-container-med {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150%;
    margin-top: 3px !important;
    margin-left: -50px !important;
}

}
@media (min-width: 551px) and (max-width: 600px){
  .navbar-new-logo{
    margin-left: -290px ;
  }
  .nav-container-med {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150%;
    margin-top: 3px !important;
    margin-left: -50px !important;
}

}
@media (min-width: 601px) and (max-width: 620px){
  .navbar-new-logo{
    margin-left: -290px ;
  }

}
@media (min-width: 621px) and (max-width: 630px){
  .navbar-new-logo{
    margin-left: -290px ;
  }
}
@media (min-width: 631px) and (max-width: 690px){
  .navbar-new-logo{
    margin-right: 300px;
  }

}
@media (min-width: 691px) and (max-width: 730px){
  .navbar-new-logo{
    margin-right: 300px;
  }
}
@media (min-width: 731px) and (max-width: 770px){
  .navbar-new-logo{
    margin-right: 300px;
  }
}
@media (min-width: 771px) and (max-width: 790px){
  .navbar-new-logo{
    margin-right: 350px;
  }
  .nav-container-med {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290%;
    margin-top: 3px !important;
    margin-left: -50px !important;
}
}
@media (min-width: 791px) and (max-width: 830px){
  .navbar-new-logo{
    margin-right: 420px;
  }
  .nav-container-med {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:600px !important;
    margin-top: 3px !important;
    margin-left: -50px !important;
}
.med-navbar-container{
  width:750px !important;
}

}
@media (min-width: 831px) and (max-width: 980px){
  .navbar-new-logo{
    margin-right: 420px;
  }
  .nav-container-med {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:600px !important;
    margin-top: 3px !important;
    margin-left: -50px !important;
}

}
@media (min-width: 981px) and (max-width: 990px){
  .navbar-new-logo{
    margin-right: 420px;
  }
  .nav-container-med {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:600px !important;
    margin-top: 3px !important;
    margin-left: -50px !important;
}

}
@media (min-width: 991px) and (max-width: 1010px){
  .navbar-new-logo{
    margin-left: -20px;  
  }
  .med-nav-right li {
      margin-right: 8px !important; /* Increased gap between nav items */
  }
  .med-nav-right{
    margin-left:40px !important ;
    width:470px !important;
  }
  .new-nav-mid li{
    margin-right: 17px !important;
  }
  .med-nav-links.right {
    width: 480px !important;
}
}
@media (min-width: 1011px) and (max-width: 1030px){
  .navbar-new-logo{
    margin-left: -20px;  
  }
  .med-nav-right li {
      margin-right: 8px !important; /* Increased gap between nav items */
  }
  .med-nav-right{
    margin-left:40px !important ;
    width:470px !important;
  }
  .new-nav-mid li{
    margin-right: 17px !important;
  }
  .med-nav-links.right {
    width: 480px !important;
}
}
@media (min-width: 1031px) and (max-width: 1040px){
  .navbar-new-logo{
    margin-left: -10px;  
  }
  .med-nav-right li {
      margin-right: 10px !important; 
  }
  .med-nav-right{
    margin-left:40px !important ;
    width:470px !important;
  }
  .new-nav-mid li{
    margin-right: 19px !important;
  }
  .med-nav-links.right {
    width: 490px !important;
}
}

@media (min-width: 1041px) and (max-width: 1060px){
  .navbar-new-logo{
    margin-left: -10px;  
  }
  .med-nav-right li {
      margin-right: 10px !important; 
  }
  .med-nav-right{
    margin-left:40px !important ;
    width:470px !important;
  }
  .new-nav-mid li{
    margin-right: 19px !important;
  }
  .med-nav-links.right {
    width: 490px !important;
}
}
@media (min-width: 1061px) and (max-width: 1090px){
  .navbar-new-logo{
    margin-left: -10px;  
  }
  .med-nav-right li {
      margin-right: 12px !important; 
  }
  .med-nav-right{
    margin-left:40px !important ;
    width:490px !important;
  }
  .new-nav-mid li{
    margin-right: 19px !important;
  }
  .med-nav-links.right {
    width: 520px !important;
}
}
@media (min-width: 1091px) and (max-width: 1130px){
  .navbar-new-logo{
    margin-left: -10px;  
  }
  .med-nav-right li {
      margin-right: 12px !important; 
  }
  .med-nav-right{
    margin-left:30px !important ;
    width:490px !important;
  }
  .new-nav-mid li{
    margin-right: 19px !important;
  }
  .med-nav-links.right {
    width: 520px !important;
}
}
@media (min-width: 1131px) and (max-width: 1150px){
  .navbar-new-logo{
    margin-left: -10px;  
  }
  .med-nav-right li {
      margin-right: 12px !important; 
  }
  .med-nav-right{
    margin-left:40px !important ;
    width:490px !important;
  }
  .new-nav-mid li{
    margin-right: 19px !important;
  }
  .med-nav-links.right {
    width: 520px !important;
}
}
@media (min-width: 1151px) and (max-width: 1190px){
  .navbar-new-logo{
    margin-left: -10px;  
  }
  .med-nav-right li {
      margin-right: 12px !important; 
  }
  .med-nav-right{
    margin-left:20px !important ;
    width:490px !important;
  }
  .new-nav-mid li{
    margin-right: 19px !important;
  }
  .med-nav-links.right {
    width: 520px !important;
}
}
@media (min-width: 1191px) and (max-width: 1200px){
  .navbar-new-logo{
    margin-left: -20px;  
  }
  .med-nav-right li {
      margin-right: 12px !important; 
  }
  .med-nav-right{
    margin-left:30px !important ;
    width:490px !important;
  }
  .new-nav-mid li{
    margin-right: 19px !important;
  }
  .med-nav-links.right {
    width: 520px !important;
}
}
@media (min-width: 1201px) and (max-width: 1220px){
  .navbar-new-logo{
    margin-left: -10px; 
  
  }
  .med-nav-right li {
      margin-right: 12px !important; 
  }
  .med-nav-right{
    margin-left:30px !important ;
    width:490px !important;
  }
  .new-nav-mid li{
    margin-right: 17px !important;
  }
  
  .med-nav-links.right {
    width: 520px !important;
}
.new-nav-mid{
  margin-left: -25px !important;
}
}
@media (min-width: 1221px) and (max-width: 1230px){
  .navbar-new-logo{
    margin-left: -20px;  
   
  }
  .med-nav-right li {
      margin-right: 12px !important; 
  }
  .med-nav-right{
    margin-left:30px !important ;
    width:490px !important;
  }
  .new-nav-mid li{
    margin-right: 19px !important;
  }
  .med-nav-links.right {
    width: 520px !important;
}
}
@media (min-width: 1231px) and (max-width: 1240px){
  .navbar-new-logo{
    margin-left: -20px;  
  }
  .med-nav-right li {
      margin-right: 12px !important; 
  }
  .med-nav-right{
    margin-left:30px !important ;
    width:490px !important;
  }
  .new-nav-mid li{
    margin-right: 19px !important;
  }
  .med-nav-links.right {
    width: 520px !important;
}
}
@media (min-width: 1241px) and (max-width: 1260px){
  .navbar-new-logo{
    margin-left: -20px;  
  }
  .med-nav-right li {
      margin-right: 12px !important; 
  }
  .med-nav-right{
    margin-left:-10px !important ;
    width:500px !important;
    margin-right: 50px;

  }
  .new-nav-mid li{
    margin-right: 19px !important;
  }
  .med-nav-links.right {
    width: 520px !important;
}
}