.medicinecontainer {
  
    background-color: #f8f8fb !important;
    margin-top: -20px;
    text-align: left; /* Changed to left align text */
    height: 500px !important;
    padding: 20px; /* Added padding for better spacing */
    
  }
  
  .medicine-custom-img {
    width: 320px !important;
    height: 370px !important;
    margin-left: -280px;
    border: none !important; /* Removes the border */
    border-radius: 10px;
    margin-top: 140px;
  }
  
  .col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -150px ;
  }
  
  .med-titleText {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #414146;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    box-sizing: border-box;
    font-family: Lato, Helvetica, Arial, sans-serif !important;
    font-size: 24px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  
  .paragraphText {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #414146;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    box-sizing: border-box;
    font-family: Lato, Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px; /* Added margin for spacing */

  }
  .secondParagraph-text{
    font-size: 16px;
    color: #414146;
    margin-top: -15px;
  }
  .medicine-paragraph{
    color: #787887;
    font-size: 16px;
    margin-top: -25px !important;
  }
  
  
  .medicine-phone-input-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* overflow: hidden; */
    width: 340px !important;
  }
  .medicine-phone-input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 6px;
    background-color: transparent; /* Removes background color */
  }
  
  .country-code {
    padding: 10px;
    font-size: 1em;
    /* background-color: #f8f9fa; */
    border-right: 1px solid #ccc;
  }
  
  .medicine-phone-input {
    border: none;
    outline: none;
    font-size: 16px;
    /* flex-grow: 1; */
    padding: 6px;
  }
  .vertical-line {
    width: 1px;
    height: 100%;
    background-color: #ccc;
  }
  .medicine-phoneButton {
    background-color:  #27c4f8;
    color: white;
    width: 190px !important; /* Adjust width as needed */
    height: 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* margin-left: px;  */
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-left: 98px !important;
  }
  
  .medicine-phoneButton:hover {
    background-color: #1fadc5;
  }
  
  /* Ensures text in button stays on one line */
  .medicine-phoneButton span {
    white-space: nowrap;
  }
  .downloadButtons{
    margin-top: 30px;
  }
  .downloadButtonOne{
    background-color: rgb(41, 40, 40);
    color: white;
    margin-right: 10px;
    font-weight: bold;
  }
  .downloadButtonTwo{
    background-color: rgb(41, 40, 40);
    color: white;
    margin-left: 10px;
    font-weight: bold;
  }
  .downloadButtonOne svg {
    width: 20px; /* Adjust icon size as needed */
    margin-right: 8px; /* Added margin on the right of the icon */
  }
  .downloadButtonTwo svg {
    width: 20px; /* Adjust icon size as needed */
    margin-right: 8px; /* Added margin on the right of the icon */
  }
  .medicine-link-text{
   margin-top: 40px;
    color: #414146;
  }
 .medicineText{
  margin-left: -300px !important;
  margin-top: -50px !important;
 }
 .play-store{
  height: 40px;
  margin-top: 30px;
  margin-right: 15px;

 }
 .app-store{
  height: 40px;
  margin-top: 30px;
 }

 /* -----------------------------------RESPONSIVE----------------------------- */
 @media (max-width:500px){

  .medicinecontainer {
  
    background-color: #f8f8fb !important;
    margin-top: -20px;
    text-align: left; /* Changed to left align text */
    height: 500px !important;
    padding: 20px; /* Added padding for better spacing */
    width:477px;
    
  }
  .align-items-start {
  
    width: 470px;
  }
  .medicineText {
    margin-left: 150px !important;
    width:400px;
  }
  .medicine-custom-img {
    width: 165px !important;
    height: 260px !important;
    margin-left: -100px;
    border: none !important; /* Removes the border */
    border-radius: 10px;
    margin-top: 140px;
    
  }
  .med-titleText {
   
    font-size: 20px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 30px;
    
  }
  .medicine-paragraph{
   
    font-size: 14px;
 
  }
  .secondParagraph-text{
    font-size: 14px;
    
  }
  .medicine-phone-input-container {
   
    width: 200px !important;
    height: 40px;
  }
  .medicine-phone-input {
   
    font-size: 13px;
    /* flex-grow: 1; */
   
  }
  .vertical-line {
    width: 1px;
    height: 100%;
    background-color: #ccc;
  }
  .play-store{
    height: 33px;
    margin-top: 30px;
    margin-right: 15px;
  
   }
   .app-store{
    height: 33px;
    margin-top: 30px;
   }
   .medicine-phoneButton {
 
    width: 85px !important; /* Adjust width as needed */
    height: 35px;
  
   
    /* margin-left: px;  */
    font-size: 12px;
 
  
    margin-left: -10px !important;
  }
 
 }