
.u-m-b--30 {
    margin-bottom: 30px !important;
    margin-top: 30px !important ;
}
.u-content-wrapper {
    transition: max-height 0.5s ease;
    margin-left: 50px !important;
    overflow: hidden;
    margin-right: 60px !important;
  }
  .u-content-wrapper.collapsed {
    max-height: 300px; /* Adjust this value as needed */
  }

  .u-content-wrapper.expanded {
    max-height: 1000px; /* Adjust this value as needed to accommodate the expanded content */
  } 

.text-epsilon {
    font-size: 14px;
    font-weight: 700;
}
.u-text--justify {
    text-align: justify;
    font-size: 14px;
}
.u-m-l--15 {
    margin-left: 15px !important;
}
.home-page-wrapper .see-less-seo__cta {
    bottom: -100px;
}

.text-dusk-blue {
    color: #28328c;
}

.u-pos--abs {
    position: absolute;
}
.u-cur--ptr {
    cursor:pointer}
/*------------------------------------------ RESPONSIVE----------------------------------------------------- */

@media (max-width:500px){
    .u-content-wrapper {
        margin-left: 20px !important; /* Adjusted for smaller screens */
        margin-right: 20px !important; /* Adjusted for smaller screens */
        max-width: 430px; /* Ensures it doesn't exceed the screen width */
    }

    .text-epsilon {
        font-size: 12px; /* Smaller font size for mobile */
    }

    .u-text--justify {
        font-size: 12px; /* Smaller font size for mobile */
    }

    .see-less-seo__cta {
        margin-top: -10px; /* Adjusted position for mobile */
    }
    .u-content-wrapper.collapsed {
        max-height: 350px; /* Adjust this value as needed */
      }
      .u-content-wrapper.expanded {
        max-height: 2000px; /* Adjust this value as needed to accommodate the expanded content */
      } 
      .hidden-container-new{
        width:450px;
      }
}