.Introducing-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap:1px !important;
    margin-top: -30px !important;
    margin-bottom: -40px !important;
    height:500px
   
  }
  
  .Introducing-column {
    flex: 1;
    padding: 20px;
  }
  
  .left-column {
    background-color: #ffffff;

  }
  
  .right-column {
    background-color: #ffffff;
    margin-left: -25px !important;
    margin-right: 30px !important;
  }
  .left-text{
    color: #4a90e2;
    font-size: 12.7px;
    text-align: left;
    font-weight: bold;
    line-height: 1.9;
    font-family:  sans-serif !important;
  
  }
  .second-left-text{
    color: #414146;
    margin-bottom: 10px !important;
    margin-top:10px !important;
    text-align: left;
    font-size: 24px;
  }
  .oneImage{
    height:400px;
    object-fit: contain;
    width: 560px;
    margin-top: -30px;
    

  }
  .AnotherImage-Container{
    width: 1280px; 
    margin-bottom: 10px !important;
    background-color: #e7f1f7 ;
    margin-top: 60px !important;
    height:315px

}
.Another-image{
    width: 1180px; /* Adjust width as needed */
height: 340px !important; /* Adjust height as needed */
margin-left: 60px !important;

object-fit: contain;

}

/* -----------------------------RESPONSIVE ----------------------------- */
@media (max-width:500px){
  .Introducing-container {
    display: flex; /* Use flex instead of row */
    flex-direction: column; /* Set to row for horizontal alignment */
    justify-content: space-between;
    padding: 20px;
    gap: 1px !important;
    margin-top: -70px !important;
    margin-bottom: -40px !important;
    height: auto; /* Adjust height to auto for better responsiveness */
    width: 480px;
}

.oneImage {
    width: 400px; /* Ensure images fit within the container */
    height: auto; /* Adjust height to auto */
    margin-top: 20px;
}
.second-oneImage{
  margin-left: 25px;
  border-radius: 5px;
}
.left-text-new{
  margin-left: 25px;
  
}
.second-left-text-new{
  margin-left: 25px;
  font-size: 18px;
  
 
}
.second-left-text{
  font-size: 18px;
}

/*------------------------------- ANOTHER IMAGE----------------------- */
.AnotherImage-Container{
  width: 478px; 
  margin-bottom: 10px !important;
  background-color: #e7f1f7 ;
  margin-top: 60px !important;
  height:215px

}
.Another-image{
  width: 530px; /* Adjust width as needed */
height: 290px !important; /* Adjust height as needed */
margin-left: -10px !important;


object-fit: contain;

}
.introducing-container-new{
  width:470px;
}


}

