.footerSection {
  background-color: #28328c;
  color: white;
  height: auto;
}

.footerSection .nav-link {
  color: white !important;
  font-size: 14px;
  padding: 0;
  margin-bottom: -10px;
}

.footerSection h6 {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  cursor: pointer; /* Make headers clickable */
}

.footerSection .nav-item {
  margin-bottom: 4px;
}

.newSection {
  margin-top: 10px;
}



.paracolour {
  color: #b8bbd9 !important;
  margin-left: 350px;
  margin-top: -30px;
  font-weight: bold;
}

.footerSection .nav-link:hover {
  text-decoration: underline;
}
 .justify-content-center {
  margin-top: 60px !important;
}
.py-5 {

  height: 550px !important;
}

/* Responsive styles */
@media (max-width: 500px) {
  .footerSection .row {
    flex-direction: column; /* Stack columns vertically */
  }

  .footerSection h6 {
    margin-top: 10px; /* Add spacing between headers */
    margin-left: 20px !important;
  }

  /* Align headers to the left for small screens */
  .footerSection .nav {
    text-align: left;
    
  }
  .nav-item{
    margin-left: 20px !important;
  }
  
  .justify-content-center {
    justify-content:left !important;
}
.img-fluid {
  max-width: 150px;
  height: auto;
}
.footerSection {

  height: auto;
  width:474px !important;
}
.paracolour {

  margin-left: 10px;
  
}
.py-5 {

  height: auto !important;
} 
.plus{
  margin-left: 110px !important;
}
}
